.ul {
    width: 80%;
    padding: 0;
}
.ul > li {
    flex: 1;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    background: rgb(60, 62, 68);
    list-style: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.3s;
    margin: 0.5rem;
    width: 25%;
    min-width: 200px;
}
.ul > li:hover {
    transition: 0.3s;
    background: #767676;
}
.ul > li:hover .divInfo {
    color: rgb(255, 152, 0);
    font-size: 25px;
    transition: 0.1s;
}

.sectionCharList {
    background: rgb(36, 40, 47);
    padding-top: 3rem;
    height: 100%;
}
.sectionCharList > div {
    display: flex;
    justify-content: center;
}
